/**
 * Variables
*/

/* Typography */
/* Colour palette */

$bg-color: #FEFBF3  ;
$nav-color: #F8F0DF;
$green-color: #79B4B7;
$grey-color: #9D9D9D;
$grey-shadow: #9d9d9d50;
$my-font: 'Roboto', sans-serif;

